%p#notice= notice
%h1 Listing Communities
%table
  %thead
    %tr
      %th Name
      %th Description
      %th Leaders
      %th Site
      %th Vk
      %th Facebook
      %th Twitter
      %th Meetupcom
      %th Google
      %th{:colspan => "3"}
  %tbody
    - @communities.each do |community|
      %tr
        %td= community.name
        %td= community.description
        %td= community.leaders
        %td= community.site
        %td= community.vk
        %td= community.facebook
        %td= community.twitter
        %td= community.meetupcom
        %td= community.google
        %td= link_to 'Show', community
        %td= link_to 'Edit', edit_community_path(community)
        %td= link_to 'Destroy', community, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Community', new_community_path
