<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @place.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>

<p>
  <strong>Company:</strong>
  <%= @place.company_id %>
</p>

<p>
  <strong>Photos:</strong>
  <%= @place.photos %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
