%p#notice= notice
%h1 Listing Members
%table
  %thead
    %tr
      %th Name
      %th Links
      %th Email
      %th Login
      %th Password
      %th Avatar
      %th{:colspan => "3"}
  %tbody
    - @members.each do |member|
      %tr
        %td= member.name
        %td= member.links
        %td= member.email
        %td= member.login
        %td= member.password
        %td= member.avatar
        %td= link_to 'Show', member
        %td= link_to 'Edit', edit_member_path(member)
        %td= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Member', new_member_path
